.DS_Store
	Data/.DS_Store
	Data/Col-FN-root-1.raw.sorted.bcf
	Data/Col-FN-root-1.raw.sorted.bcf.csi
	Data/Col-FN-root-1.raw.vcf.gz
	Data/Col-FN-shoot-1.raw.bcf
	Data/Col-FN-shoot-1.raw.bcf.csi
	Data/Vgir_scion.SRR2015295_1.fastq.raw.bcf
	Data/Vgir_scion.SRR2015295_1.fastq.raw.bcf.csi
	Data/Vgir_scion.SRR2015295_1.fastq.raw.sorted.bcf
	Data/Vgir_scion.SRR2015295_1.fastq.raw.sorted.bcf.csi
	Data/Vgir_scion.SRR2015295_1.fastq.raw.sorted.vcf.gz
	Data/Vgir_scion.SRR2015295_1.fastq.raw.sorted.vcf.gz.tbi
	Data/Vgir_scion.SRR2015295_1.fastq.raw.vcf.gz
	Data/Vgir_scion.SRR2015295_1.fastq.raw.vcf.gz.tbi
	Data/Vgir_scion_SRR2015295_1_filtered.vcf
	Data/Vgir_scion_snps.csv
	Data/Vgir_scion_snps_only.vcf
	Data/df_final_grapevine.csv
	Data/df_final_grapevine_neighbours.csv
	Data/df_final_grapevine_snps.csv
	Data/filtered.vcf
	Data/filtered_output_fast.vcf
	Data/filtered_output_grapevine.vcf
	Data/filtered_output_thieme.vcf
	Data/filtered_output_vgir_scion.vcf
	Data/formatted_positions.txt
	Data/positions.txt
	Data/snps_and_neighbours.bed
	Data/thieme_bf_1000.csv
	Data/thieme_bf_10000.csv
	Jupyter_notebooks/.DS_Store
	Jupyter_notebooks/thieme_pirita.ipynb
	R_code/.DS_Store
